<%-- any content can be specified here e.g.: --%>
<%@page import="java.util.ArrayList"%>
<%@ page pageEncoding="UTF-8" %>
<%
    ArrayList<String> list = new ArrayList<String>();
    list = (ArrayList<String>) session.getAttribute("details");
    ArrayList<Integer> permissions = new ArrayList<Integer>();
    permissions = (ArrayList<Integer>) session.getAttribute("permissions");
%>
<div id="addProj">
    <form name="proadd" action="${pageContext.request.contextPath}/ProjectServlet" method="POST">
        <input type="hidden" name="addhide" value="edit" />
        <input type="hidden" name="id" value="<%=list.get(7)%>" />
        <div class="parts">
            <div class="desc">Project Name</div>
            <input type="text" name="name" value="<%=list.get(0)%>" class="txtproj"/>
        </div>
        <div class="parts">
            <div class="desc">Category</div>
            <select name="cat" class="drop">
                <option>Housing</option>
            </select>
        </div>
        <div class="parts">
            <div class="desc">Budget</div>
            <input type="text" name="bud" value="<%=list.get(3)%>" class="txt2"/>
        </div>
        <div style="clear: both"></div>
        <div>
            <div class="parts">
                <div class="desc">Description</div>
                <textarea name="desc" rows="8" cols="1" class="txtproj">
                    <%=list.get(1)%>
                </textarea>
            </div>
            <div class="parts">
                <div class="desc">Proposed Start</div>
                <input type="text" name="start" value="<%=list.get(5)%>" class="txt2" id="startDatePicker"/>
            </div>
            <div class="parts">
                <div class="desc">Proposed finish</div>
                <input type="text" name="fin" value="<%=list.get(6)%>" class="txt2" id="startDatePicker2"/>
            </div>
            <div class="parts">
                <div class="desc">State / Region</div>
                <select name="state" class="drop">
                    <option>Lagos</option>
                </select>
            </div>
            <div class="parts">
                <div class="desc">LGA</div>
                <select name="lga" class="drop">
                    <option>Ikorodu</option>
                </select>
            </div>
            <div class="parts">
                <div class="desc">Amount Subscribed</div>
                <input type="text" name="sub" value="<%=list.get(4)%>" class="txt2"/>
            </div>
            <div class="parts">
                <div class="desc">.</div>
                <% if(permissions.contains(63)){%><input type="submit" value="Save" name="adpro" class="btn"/><%}%>
                <% if(permissions.contains(76)){%><input type="submit" value="Delete" name="adpro" class="btn"/><%}%>
            </div>
            <div style="clear: both"></div>
        </div>
    </form>
</div>
