<%-- any content can be specified here e.g.: --%>
<%@page import="java.util.ArrayList"%>
<%@ page pageEncoding="UTF-8" %>
<%
    ArrayList<String> list2 = new ArrayList<String>();
    list2 = (ArrayList<String>) session.getAttribute("subs");
%>
<div id="addProj">
    <div class="titles">Sub Projects</div>
    <div id="list">
        <form name="getdetails" action="${pageContext.request.contextPath}/ProjectServlet" method="POST">
            <div>
                <%
                    int g = list2.size();
                    if (g < 1) {%>
                <div class="list0">No Sub Project added yet</div>
                <%} else {
                    for (int i = 0; i < list2.size(); i++) {%>
                <input type="submit" value="<%= list2.get(i)%>" name="btnsub" class="listbtn"/>
                <%}
                    }%>
            </div>
        </form>
        <div class="row" style="margin-top: 10px">
            <div class="btn" id="adsub">Add Sub Project</div>
        </div>
        <div id='adstaff'>
            <div id='subPan'>
                <%@include file="../jspf/addSub.jspf"%>
            </div>
        </div>
    </div>
</div>
